<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ru.start.springframework.beanlifestyle"/>

<!--    <context:property-placeholder location="classpath:musicPlayer.properties"/>-->

<!--    &lt;!&ndash; Бины для каждого жанра &ndash;&gt;-->
<!--    <bean id="musicPopBean" class="ru.start.springframework.beanlifestyle.PopMusic" init-method="goMyInit" destroy-method="goMyDestroy"/>-->
<!--    <bean id="musicRockBean" class="ru.start.springframework.beanlifestyle.RockMusic" init-method="goMyInit" destroy-method="goMyDestroy"/>-->
<!--    <bean id="musicClassicBean" class="ru.start.springframework.beanlifestyle.ClassicalMusic" init-method="goMyInit"-->
<!--          destroy-method="goMyDestroy" factory-method="getClassicalMusic">-->
<!--    </bean>-->

<!--    &lt;!&ndash; Бин MusicPlayer с внедрением списка &ndash;&gt;-->
<!--     <bean id="musicPlayer"-->
<!--           class="ru.start.springframework.beanlifestyle.MusicPlayer"-->
<!--           scope="prototype" init-method="goMyInit" destroy-method="goMyDestroy">-->
<!--         <property name="musicList">-->
<!--             <list>-->
<!--                 <ref bean="musicPopBean"/>-->
<!--                 <ref bean="musicRockBean"/>-->
<!--                 <ref bean="musicClassicBean"/>-->
<!--             </list>-->
<!--         </property>-->
<!--         <property name="name" value="${musicPlayer.name}"/>-->
<!--         <property name="volume" value="${musicPlayer.volume}"/>-->
<!--     </bean>-->
</beans>

